/LAB3/LAB3/dist/
/*/*.rar
/*/*.docx
/WS1/WS1-Mobile-CRUD/nbproject/private/
/WS1/WS1-Mobile-CRUD/build/
/WS1/WS1-Mobile-CRUD/dist/
/LAB_EL_JSTL_1/nbproject/private/
/LAB_EL_JSTL_2/nbproject/private/
/WS2/build/
/WS2/nbproject/private/
/WS2/dist/
/my-demo/web-xml/nbproject/private/
/my-demo/web-xml/build/
/my-demo/demo-jstl-tag-lib/nbproject/private/
/my-demo/demo-crud/nbproject/private/
/my-demo/demo-crud/build/
/my-demo/demo-crud/dist/
/GIAI_PE/LAB_PE_293/PE_PRJ301/build/
/LAB2/LAB2/build/
/GIAI_PE/LAB_PE_293/PE_PRJ301/dist/
/LAB2/LAB2/dist/
/LAB2/LAB2/nbproject/private/
/my-demo/demo-jstl-tag-lib/build/
/my-demo/demo-jstl-tag-lib/dist/
/my-demo/demo-advanced/nbproject/private/
