spring:
  application:
    name: MSAccount_SE181556
  datasource:
    url: jdbc:postgresql://localhost:5432/MSS301Summer25DBAccount
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8081

jwt:
  secret: "minhvoquangminhvoquangminhvoquangminhminhvoquangminhvoquangminhvoquangminh"
  expiration: 3600000