spring:
  application:
    name: product-service

  profiles:
    active: test

server:
  port: 4006

# Service URLs - All through Gateway
services:
  gateway:
    url: http://localhost:4000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
